<div *ngIf="guser">
<p><img src={{url}} alt="Smiley face" height="100" width="100"><br>
  {{guser.login}}<br>|LVL:{{guser.lvl}}|EXP:{{guser.exp}}
</p>
</div>
<nav>
  <a routerLink="/gadmin/dashboard/quests/new" routerLinkActive="active">Zadania</a>
  <a routerLink="/gadmin/dashboard/badges/edit" routerLinkActive="active">Odznaki</a>
  <a routerLink="/gadmin/dashboard/users" routerLinkActive="active">Użytkownicy</a>
  <a routerLink="/gadmin/dashboard/layout" routerLinkActive="active">Motyw</a>
  <a routerLink="/gadmin/login" routerLinkActive="active">Wyloguj się</a>
</nav>
<router-outlet></router-outlet>
