<div id="search-component">
  <input [(ngModel)]="search" placeholder="Szukaj..."/>
</div>
<table class = "heroes">
  <tr>
    <th>Login <button (click)="setOrder('login')">^</button></th>
  <th>Imię <button (click)="setOrder('firstName')">^</button></th>
    <th>Nazwisko <button (click)="setOrder('lastName')">^</button></th>
    <th>{{lvl}} <button (click)="setOrder('lvl')">^</button></th>
    <th>{{exp}} <button (click)="setOrder('exp')">^</button></th>
    <th>Opis <button (click)="setOrder('desciption')">^</button></th>
  </tr>
  <tr *ngFor="let guser of gusers  | gusersearch:search:order" (click)="onSelect(guser)" class = "guser" [class.selected]="guser === selectedGuser">
    <th>{{guser.login}}</th>
    <th>{{guser.firstName}}</th>
    <th> {{guser.lastName}}</th>
    <th>{{guser.lvl}} </th>
    <th>{{guser.exp}} </th>
    <th>{{guser.description}} </th>
  </tr>
</table>
  {{search}}
{{order.column}}{{order.asc}}
