<div *ngIf="name">
Zadanie "{{name}}" zostało dodane!
  Odbiór punktów poprzez adres: {{responseAddress}}
  <div>
    <qr-code [value]="responseAddress" [size]="300"></qr-code>
  </div>
</div>

<form name="form" (ngSubmit)="f.form.valid && generate(f.form.value)" #f="ngForm" novalidate class="form-horizontal">
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid && !name}">
    <label for="description">Opis</label>
    <input type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" required />
    <div *ngIf="f.submitted && !description.valid && !name" class="help-block">Opis jest wymagany</div>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !exp.valid && !name}">
    <label for="exp">Doświadczenie</label>
    <input type="number" class="form-control" name="exp" [(ngModel)]="model.exp" #exp="ngModel" required />
    <div *ngIf="f.submitted && !exp.valid && !name" class="help-block">Liczba doświadczenia jest wymagana</div>
  </div>
  <div class="form-group">
    <label for="endOf">Do kiedy</label>
    <input type="datetime-local" class="form-control" name="endOf" [(ngModel)]="model.endOf" #endOf="ngModel" />
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Dodaj</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
</form>


