<div *ngIf="logged">

  <nav class="navbar navbar-default">

    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/">{{header}}</a>
      </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li routerLinkActive="active"><a routerLink="/scoreboard" routerLinkActive="active">Ranking</a></li>
        <li routerLinkActive="active"><a  routerLink="/questlog" routerLinkActive="active">Dziennik zadań</a></li>
        <li routerLinkActive="active"><a  routerLink="/goquest" routerLinkActive="active">Wykonanie zadania</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a  routerLink="/login" routerLinkActive="active">Wyloguj się</a></li>
      </ul>
    </div>
    </div>
  </nav>
</div>
<div class="body">
  <router-outlet ></router-outlet>
</div>




  <div *ngIf="logged" >
    <div class="hero">
<img src={{url}} alt="Smiley face" height="100" width="100">
      <div class="hero-text">
    {{guser.login}}|{{lvl}}:{{guser.lvl}}|{{exp}}:{{guser.exp}}<a routerLink="/settings" routerLinkActive="active"><img border="0" alt="W3Schools" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4QUQDTQ6/MsDfgAAAKZJREFUSMdjYBhpgJEYRTp2Af9h7CuHNjCSq4Yki5ENxGUwMWrQAQs5wYTNIlIB06CMY0p9hi+4GWkZnPgsZ6SFZcQ4YuDjmBTfEpOdCOllokacEVNgUBTHhCwgRT8jsZqJ9RWx+gcscY08iwc+cRGbF4mpj2mSj7FZQE5Ry0iJZqqU1eSUPjSpj+laLQ6KhgCllhOKugErQFio4RuKshO9G/QjDwAAusVsKhipeVQAAAAASUVORK5CYII=" width="30" height="30"></a>
      </div>
    </div>
  </div>
