<form #badgeForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <label for="photo">
    Dodaj Odznakę (maksymalne wymiary: 100x100)<br>
  </label>
  <div *ngIf="file">
  <br><img [src]="file"><br>
  </div>
  <input type="file" accept="image/*"  name="photo" id="photo" required (change)="readUrl($event)">
  <label for="name">
    Nazwa:<br>
  </label>
  <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>
  <button type="submit" class="btn btn-success" [disabled]="!badgeForm.form.valid">Zapisz</button><div *ngIf="response">Odznaka została dodana.</div>
</form>

ADD AND REMOVE BADGES
