<form #badgeForm="ngForm" (ngSubmit)="onSubmit()" novalidate class="form-horizontal">
  <div class="form-group">
  <label for="photo">
    Dodaj Odznakę (maksymalne wymiary: 100x100)<br>
  </label>
  <div *ngIf="file">
  <br><img [src]="file"><br>
  </div>
  <input type="file" accept="image/*"  name="photo" id="photo" required (change)="readUrl($event)">
  <label for="name">
    Nazwa:<br>
  </label>
  <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>
  <button type="submit" class="btn btn-success" [disabled]="!badgeForm.form.valid">Zapisz</button><div *ngIf="response">Odznaka została dodana.</div>
    </div>
</form>
<div *ngIf="ready">

    <div *ngFor="let badge of badges" style="display: inline-block">
      <div style="display: inline-block">{{badge}}<br><img src={{urls[badge]}} alt="Smiley face" height="100" width="100"><br><button class="btn btn-danger" (click)="delete(badge); $event.stopPropagation()">Usuń</button></div>
    </div>
</div>
